.about-us{
	padding: 28px 30px 52px 30px;
	background-color: #fff;
	color: #000;
}

.about-us__title{
	margin: 0;
	padding: 0;
	font-size: 25px;
	line-height: 30px;
	font-weight: 700;	
}

.about-us__list{
	margin: 0;
	padding: 0;
}

.about-us__item{
	position: relative;
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	margin-top: 84px;

	&:before{
		content: "";
		position: absolute;
		top:-50px;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
	}

	&--flower:before{
		left: 11px;
		width: 32px;
		height: 38px;
		background-image: url(../images/SVG/icon-feature-flower.svg);
	}

	&--money:before{
		left: 4px;
		width: 47px;
		height: 27px;
		background-image: url(../images/SVG/icon-feature-money.svg);		
	}

	&--heart:before{
		left: 11px;
		width: 33px;
		height: 27px;
		background-image: url(../images/SVG/icon-feature-heart.svg);
	}

	&--ball:before{
		left: 10px;
		width: 34px;
		height: 34px;
		background-image: url(../images/SVG/icon-feature-ball.svg);

	}

	&--rocket:before{
		width: 55px;
		height: 24px;
		background-image: url(../images/SVG/icon-feature-rocket.svg);		
	}

	&--gift:before{
		left: 11px;
		width: 33px;
		height: 33px;
		background-image: url(../images/SVG/icon-feature-gift.svg);		
	}
}

@media (min-width:@tablet)  {
	.about-us{
		padding: 60px 50px 87px 50px;
	}

	.about-us__title{
		font-size: 43px;
		line-height: 50px;
	}

	.about-us__list{
		display: flex;
		flex-wrap: wrap;
	}

	.about-us__item{
		width: 50%;
		padding-right: 30px;
		margin-top: 107px;
		font-size: 20px;
		line-height: 22px;
	}
}

@media (min-width:@desktop)  {
	.about-us{
		padding: 60px 275px 90px 275px;
	}

	.about-us__title{
		font-size: 53px;
		line-height: 57px;
	}
}
