.color{
	background-color: #fff;

}

.color__wrapper{
	border: none;
	border-top: 1px solid #62d1ba;
	display: flex;
	flex-direction: column;
	padding: 51px 30px;
	padding-top: 26px
}

.color__title{
	position: relative;
	top: -35px;
	left: -30px;
	margin-right: auto;
	padding: 0 30px;
	text-transform: uppercase;
	background-color: #fff;
	font-size: 17px;
	line-height: 16px;
	font-weight: 700;
	color: #63d1bb;
}

.color__label{
	padding-left: 60px;
	margin-top: 43px;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	transition: 0.2s;

	&:nth-of-type(1){
		margin-top: 0px;
	}

	&:before{
		left: 0px;
		top:-10px;
	}

	&:after{
		left: 11px;
		top:1px;
	}
}

@media (min-width:@tablet)  {
	.color{
		background-color: #f1f1f1;
	}

	.color__wrapper{
		position: relative;
		border: none;
		padding: 51px 50px 28px 215px;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.color__title{
		background-color: transparent;
		position: absolute;
		top: 65px;
		left: 20px;
	}

	.color__label{
		padding-left: 80px;
		width: 50%;
		font-size: 19px;
		margin-bottom: 44px;
		margin-top: 13px;

		&:nth-of-type(1){
			margin-top: 13px;
		}
	}
}



@media (min-width:@desktop)  {
	.color{
		
	}

	.color__wrapper{
		padding: 51px 185px 27px 275px;
	}

	.color__title{
		left: 130px;
	}

	.color__label{
		width: 33.3%;
	}
}

