.contacts{
	font-size: 15px;
	line-height: 30px;
	color: #444;
}

.contacts__title{
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	color: #000;
}

.contacts__link{
	border-bottom: 1px solid #35a999;

	&:hover,
	&:focus{
		color: #46c1ae;
	}

	&:active{
		opacity: 0.3;
	}
}