.developers{
	&:hover .developers__link,
	&:focus .developers__link{
		fill: #63d1bb;
	}

	&:active{
		opacity: 0.3;
	}

}

.developers__title{
	font-size: 19px;
	line-height: 18px;
	font-weight: 700;
	color: #000;
}

.developers__link{
	font-size: 0px;
	fill: #46c1ae;

	// &:hover,
	// &:focus{
	// 	fill: #63d1bb;
	// }

	// &:active{
	// 	fill: #bde3dd;
	// }
}