.email{
	border: none;
	border-top: 1px solid #62d1ba;
}

.email__title{
	font-size: 17px;
	line-height: 16px;
	font-weight: 700;
	color: #63d1bb;
}

.email__label{
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
}

.info__info{
	border:2px solid #444;
}