.info{
	border: none;
	border-top: 1px solid #62d1ba;
}

.info__title{
	font-size: 17px;
	line-height: 16px;
	font-weight: 700;
	color: #63d1bb;
}

.info__label{
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
}

.info__info{
	border:2px solid #444;
	resize: none;
	outline: none;
	cursor: pointer;

	&:hover{
		border-color: #63d1bb;
	}


	&::-webkit-input-placeholder{
		font-family: "Open Sans", Arial, sans-serif;
		font-weight: 400;
		color: rgba(68,68,68,0.3);
		font-size: 19px;
		line-height: 18px;
	}

	&:-ms-input-placeholder{
		font-family: "Open Sans", Arial, sans-serif;
		font-weight: 400;
		color: rgba(68,68,68,0.3);
		font-size: 19px;
		line-height: 18px;
	}

	&::-ms-input-placeholder{
		font-family: "Open Sans", Arial, sans-serif;
		font-weight: 400;
		color: rgba(68,68,68,0.3);
		font-size: 19px;
		line-height: 18px;
	}

	&::placeholder{
		font-family: "Open Sans", Arial, sans-serif;
		font-weight: 400;
		color: rgba(68,68,68,0.3);
		font-size: 19px;
		line-height: 18px;
	}
}