.main{
	background-color: #fff;
	background-image: url(../../images/hero-mobile@1x.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}

.main__title{
	font-size: 27px;
	line-height: 30px;
	font-weight: 700;	
	text-align: center;
}

