.name{
	padding: 20px 30px;
	padding-bottom: 17px;
	display: flex;
	flex-direction: column;
	border: none;
	border-top: 1px solid #62d1ba;
}

.name__title{
	position: relative;
	top: -29px;
	left: -30px;
	margin-right: auto;
	padding: 0 30px;
	text-transform: uppercase;
	background-color: #fff;
	font-size: 17px;
	line-height: 16px;
	font-weight: 700;
	color: #63d1bb;
}

.name__label{
	margin-bottom: 22px;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
}

.name__login{
	width: 100%;
	margin-top: 15px;
}

@media (min-width:@tablet)  {
	.name{
		position: relative;
		border: none;
		padding: 55px 50px 21px 215px;
		flex-wrap: wrap;
	}

	.name__title{
		position: absolute;
		top: 65px;
		left: 20px;
		background-color: transparent;
	}

	.name__label{
		display: flex;
		font-size: 19px;
		margin-bottom: 29px;
		margin-top: 10px;
	}

	.name__login{
		width: 100%;
		margin-top: 0;
		margin-left: 25px;
	}
}



@media (min-width:@desktop)  {
	.name{
		padding: 55px 275px 21px 275px;
	}

	.name__title{
		left: 130px;
	}
}