.process{
	background-color: #fff;
	padding: 0 30px 60px 30px;
	transition: 0.2s;

}

.process__title{
	position: relative;
	margin: 0;
	padding: 24px 0px 24px 90px;
	border: 1px solid #ececec;
	border-bottom: none;
	font-size: 17px;
	line-height: 24px;
	font-weight: 700;

	&:before{
		position: absolute;
		top:30px;
		left: 35px;
		content:url(../images/SVG/icon-video.svg);
	}
}

.process__video{
	position: relative;
	width: 260px;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 260px 150px;
	background-image: url(../images/video-mobile.jpg);
	cursor: pointer;
	transition: 0.2s;
	
	@media (min-resolution: 144dpi),
				 (min-resolution:1.5dppx){
		background-image: url(../images/video-mobile2x.jpg);
	 }
	
	&:after{
		position: absolute;
		content: "";
		width: 101px;
		height: 77px;
		left: 50%;
		top: 50%;
		margin-left: -50px;
		margin-top: -35px;
		background-image: url("../images/SVG/icon-play.svg");
		background-repeat: no-repeat;
		cursor: pointer;
	}

	&:hover:after,
	&:focus:after{
		transform: scale(1.2);
		transition: 0.2s;
	}

	&:active:after{
		transform: scale(0.8);
		transition: 0.2s;
		opacity: 0.3;
	}
}

.process__wrapper{
	border: 1px solid #ececec;
	border-top: none;
	padding: 30px;
}

.process__description{
	
	margin: 0;
	margin-bottom: 30px;
	font-size: 13px;
	line-height: 24px;
	color: #444;
}

.process__order-btn{
	padding: 14px 0;
}

@media (min-width:@tablet)  {
	.process{
		display: flex;
		flex-direction: column;
		padding: 0 50px 65px 50px;
	}

	.process__title{
		order: 2;
		font-size: 20px;
		line-height: 24px;
		padding: 40px 0px 33px 110px;
		}

	.process__video{
		order: 1;
		width: 668px;
		height: 455px;
		background-image: url(../images/video-tablet.jpg);
		background-size: 668px 455px;

		@media (min-resolution: 144dpi),
				 (min-resolution:1.5dppx){
		background-image: url(../images/video-tablet2x.jpg);
	 }
	}

	.process__wrapper{
		order: 3;
		padding: 0 42px 45px 42px;
		font-size: 15px;
		line-height: 30px;
	}

	.process__description{
	
		font-size: 15px;
		line-height: 30px;
		margin-bottom: 35px;
	}

}



@media (min-width:@desktop)  {
	.process{
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 100px 65px 100px;
		justify-content: flex-end;
	}

	.process__title{
		width: 368px;
		padding: 94px 60px 25px 80px;
		order: 2;
		font-size: 20px;
		line-height: 24px;

		&:before{
			top: 40px;
			left: 75px;
		}
	}

	.process__video{
		order: 1;
		width: 682px;
		background-size: 682px 455px;
		background-image: url(../images/video-desktop.jpg);

		@media (min-resolution: 144dpi),
				 (min-resolution:1.5dppx){
		background-image: url(../images/video-desktop2x.jpg);
	 }
	}

	.process__wrapper{
		z-index: 2;
		width: 368px;
		order: 3;
		margin-top: -279px;
		padding: 0 60px 60px 80px;
		font-size: 15px;
		line-height: 30px;
	}

	.process__description{
		margin-bottom: 47px;
	}
}