.search{
	border-bottom: 1px solid #ececec;
	padding: 27px 30px 27px 30px;
	fill:rgba(0, 0, 0, 0.2);

	&:hover,
	&:focus{
		fill:#6dd4bf;
	}

	&:active{
		fill:rgba(109, 212, 191, 0.3);
	}
}

.search__input{
	border: none;
	background-color: transparent;
	outline: none;

	&::placeholder{
		font-size: 17px;
		line-height: 24px;
		font-weight: 700;
		color: #000;
	}
}

@media (min-width:@tablet)  {
	.search{
		border: 1px solid #ececec;
		border-left: none;
		padding: 27px 33px 27px 33px;
	}

	.search__input{
		position: absolute;
		opacity: 0;
		z-index: 0;
	}
}

@media (min-width:@desktop)  {

}




