.sign-up{
	background-color: #fff;
	padding: 23px 0px 60px 0px;
}

.sign-up__description{
	padding: 0 30px;
	margin-bottom: 32px;
	font-size: 13px;
	line-height: 24px;
	color: #444;
}

.sign-up__disclamer{
	font-size: 14px;
	line-height: 16px;
	color: #444;
}

.sign-up__btn-wrapper{
	padding: 0 30px;
}

.sign-up__btn{
	margin-top: 30px;
	padding: 14px 0;
	width: 100%;
}

@media (min-width:@tablet)  {
	.sign-up{
		padding: 60px 0px 0px 0px;
	}

	.sign-up__description{
		padding: 0 50px;
		font-size: 17px;
		line-height: 30px;
	}

	.sign-up__btn{
		width: 230px;
		margin-top: 0;
	}

	.sign-up__disclamer{
		margin: 0;
		font-size: 17px;
		line-height: 30px;
	}

	.sign-up__btn-wrapper{
		padding: 0 50px;
		padding-bottom: 50px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}



@media (min-width:@desktop)  {

	.sign-up{
		padding: 103px 0px 0px 0px;
	}

	.sign-up__btn-wrapper{
		padding-left: 275px;
		padding-right: 275px;
		padding-bottom: 46px
	}

	.sign-up__description{
		padding-left: 275px;
		padding-right: 275px;
	}
}