.type{
	border: none;
	border-top: 1px solid #62d1ba;
	padding: 40px 0;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
}

.type__title{
	font-size: 17px;
	line-height: 16px;
	font-weight: 700;
	color: #63d1bb;
}

.type__label{
	padding-left: 60px;
	margin-top: 25px;

	&:before{
		left: 0px;
		top:-10px;
	}

	&:after{
		left: 11px;
		top:1px;
	}


	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
}

@media (min-width:@tablet)  {
	.type{
		position: relative;
		border: none;
		padding: 50px 0px 0px 165px;
	}

	.type__title{
		position: absolute;
		top: 75px;
		left: 0px;
	}

	.type__label{
		padding-left: 80px;
		margin-bottom: 50px;
		font-size: 19px;
		
	}
}



@media (min-width:@desktop)  {
	.type{
		padding-left:175px;
	}
}