.type{
	border: none;
	border-top: 1px solid #62d1ba;
	padding: 51px 30px;
	padding-top: 0px;
	display: flex;
	flex-direction: column;
}

.type__title{
	position: relative;
	top: -10px;
	left: -30px;
	margin-right: auto;
	padding: 0 30px;
	text-transform: uppercase;
	background-color: #fff;
	
	font-size: 17px;
	line-height: 16px;
	font-weight: 700;
	color: #63d1bb;
}

.type__label{
	padding-left: 60px;
	margin-top: 25px;

	&:before{
		left: 0px;
		top:-7px;
	}

	&:after{
		left: 11px;
		top:4px;
	}


	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
}

@media (min-width:@tablet)  {
	.type{
		position: relative;
		border: none;
		padding: 18px 50px 37px 215px;
	}

	.type__title{
		position: absolute;
		background-color: transparent;
		top: 45px;
		left: 20px;
	}

	.type__label{
		padding-left: 80px;
		margin-bottom: 32px;
		font-size: 19px;

		&:before{
			left: 4px;
			top:-15px;
		}

		&:after{
			left: 19px;
			top:0px;
		}
		
	}
}



@media (min-width:@desktop)  {
	.type{
		padding: 18px 185px 35px 275px;
	}

	.type__title{
		left: 130px;
	}
}